@import "compass/css3";
@import "inc/vars";
@import "inc/slider"; //comment this line if you dont use slider
/* -----------------------------------------
   WordPress Core Classes
----------------------------------------- */
.alignnone {margin: 0 1em 1em 0;}
.alignright {float:right; margin:0 0 1em 1em}
.alignleft {float:left; margin:0 1em 1em 0}
.aligncenter {display: block; margin-left: auto; margin-right: auto}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
    img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 98.5%;
        padding: 0;
        width: auto;
    }
    &.alignnone {margin: 0 1em 1em 0;}
    &.alignleft {float:left; margin:0 1em 1em 0}
    &.alignright {float:right; margin:0 0 1em 1em}
}
/* -----------------------------------------
   General fixes
----------------------------------------- */
#wpadminbar {
    opacity: 0.3;
    transition: 0.2s opacity linear;
    -webkit-transform: translateZ(0);
    &:hover, &:focus{ opacity: 1; }
}
body {-webkit-font-smoothing: antialiased;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=button] {
    -webkit-appearance: none;
    -moz-appearance:none;
}

/* Placeholder styling */

input, textarea{
    @include input-placeholder {color: #d1d1d1;}
}

/* Input Styling */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea { /* STYLES GO THERE */ }

textarea[rows]{
	/*Styles for TextArea*/
}

/* Responsive video container (YouTube, Vimeo) */

embed, iframe, object { max-width: 100%; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe, object, embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Align Middle */
.align-middle {
    @include align-middle();
}
/* -----------------------------------------
   Typography
----------------------------------------- */
a:focus {outline:none;}
p:empty {display: none;}
body,h1,h2,h3,h4,h5,h6,p,a {font-family: $font;}
h1,h2,h3,h4,h5,h6{font-weight: 400;}
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
/* -----------------------------------------
    Clearfix
----------------------------------------- */
.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
/* ------------------------------------
    Basic Styles
------------------------------------- */
h1 {/*basic heading styles*/}
h2 {/*basic heading styles*/}
h3 {/*basic heading styles*/}
h4 {/*basic heading styles*/}
h5 {/*basic heading styles*/}
h6 {/*basic heading styles*/}
p {/*basic paragraph styles*/}
ul {
    /*basic list styles*/
    li {
        /*basic list-item styles*/
    }
}
a {
    @include transition(all .3s ease-in-out);
    &:hover,
    &:focus {
        /*basic hover and focus effects*/
    }
}
.button {
    @include transition(all .3s ease-in-out);
    &:hover,
    &:focus {
        /*basic hover and focus effects*/
    }
}

//use @extend %bgcover; to selector if you need background cover;
%bgcover{
  @include background-size(cover);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/*-------------------------------
        Paginator
-------------------------------*/
ul.pagination li a{
    padding: 0 7px;
    border-radius: 0;
}
.pagination.current{
    color: #fff;
    background: #2795b6;
    padding: 1px 7px 2px 7px;
}

/* ------------------------------------
    Header Styles
------------------------------------- */


/* ------------------------------------
    Content Styles
------------------------------------- */

/* -----------------------------------------
    Contact Form
----------------------------------------- */
/*basic Gravity Form styles and fixes, if you dont need/use this comment or delete styles below*/
@import "inc/gform";
/* ------------------------------------
    Footer Styles
------------------------------------- */